.app-container {
    .version-info {
        text-align: right;
        margin-top: 4px;
        margin-right: 10px;

       .key {
            color:#5bbbb9;
            font-style: italic;
            font-size: 10px;
        }
        .value{
            color:#ffff;
            font-style: italic;
            font-size: 8px;
        }

    }
    
  }