.google-2fa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-light;
  height: 100vh;
}
.verification {
  box-shadow: 0 0 250px $drak;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 250px #000;
  text-align: center;
  max-width: 20rem;

  justify-content: center;
  align-items: center;
  padding: 4rem 3rem;
  width: 100%;
  h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
  }
  .title {
    margin-bottom: 2rem;
  }
  .qr-scan {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed $primary-light;
    margin-bottom: 2rem;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }
  input {
    margin-bottom: 1.2rem;
    border: 1px solid $primary-dark;

    outline: 0;
    padding: 0.5rem;
    background-color: transparent;
    text-align: center;
    color: $primary-light;

    width: 50%;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
      color: $light;
      cursor: pointer;

      width: 30%;
      border: 1px solid $primary-dark;

      padding: 0.5rem 1rem;
      margin-left: 10px;
    }
  }
}
