.landing-page-container {
  .menu-btn {
    .MuiButtonBase-root {
      color: $primary-light;
    }
  }
  .landing-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
