.user-form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    box-shadow: 0 0 250px $drak;
    display: flex;
    flex-direction: column;

    max-width: 28rem;
    padding: 4rem 3rem;
    width: 100%;
    label {
      color: $primary-light;
    }
    .form-title {
      align-self: center;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 3rem;
      color: $primary-light;
    }
    .form-group {
      display: flex;
      justify-content: space-between;
    }
    .input-radio {
      display: flex;
      width: 40%;
      .MuiFormGroup-root {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
      }
      .MuiRadio-colorSecondary.Mui-checked {
        color: $green;
      }
    }
    input {
      color: inherit;
      margin-bottom: 1.2rem;
      border: 1px solid $primary-dark;
      outline: 0;
      border-radius: 999px;

      padding: 0.5rem;
      background-color: transparent;
      text-align: left;
      color: $primary-light;

      width: 100%;
    }
    .submit-btn {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        @include ingredientButton;
        color: $light;
        cursor: pointer;
        margin-bottom: 4rem;
        width: 100%;
        border: 1px solid $primary-dark;
        border-radius: 999px;
        padding: 1rem 2rem;
        margin-left: 10px;
        &:hover {
          @include ingredientButtonHover;
        }
      }
    }
  }
  .error-message {
    font-size: 12px;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
