.role-table-container {
  color: $primary-light;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 250px $green;
  width: 900px;
  .table-content {
    width: 100%;
  }
  .jMdbjj {
    min-height: unset !important;
  }
  .bVSUzA {
    background-color: $green !important;
    color: $primary-light !important;
  }
  .hokyBq {
    background-color: $base-bgcolor;
    color: $primary-light;
  }
  .ffqtRm {
    background-color: $green !important;
    color: $wheat;
  }
}
